name: Changelog Preview
on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - edited
    - labeled
permissions:
  contents: write
  pull-requests: write

jobs:
  changelog-preview:
    uses: getsentry/craft/.github/workflows/changelog-preview.yml@feat/changelog-preview-working-dir
    with:
      working-directory: py
    secrets: inherit
